simplejson
couchdb
python-memcached
-e git+ssh://git@github.com/hudora/huTools#egg=huTools
-e git+ssh://git@github.com/hudora/CentralServices#egg=CentralServices
httplib2
http://www.xs4all.nl/~irmen/pyro3/download/Pyro-3.10.tar.gz
